:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
  /* overflow-y: hidden; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Esconde o botão de mostrar senha nativo do Chrome/Safari mobile */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-input-password-toggle-button {
display: none !important;
}

input[type="password"]::-webkit-input-decoration-container {
display: none !important;
}

input[type="password"]::-webkit-textfield-decoration-container {
display: none !important;
}